body {
   background: url("http://localhost/fashionstore/img/wallpaperflare.com_wallpaper.jpg") no-repeat;
   background-size: cover;
   background-position: center;
   height: 1000px;
}

.signup-form {
   box-sizing: border-box;
   background: rgba(0, 0, 0, .6);
   border-radius: 10px;
   padding: 30px;
   padding-top: 50px;
   width: 460px;
   display: flex;
   flex-direction: column;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   row-gap: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, .8);
   flex-wrap: nowrap;
}

.auth__form-group1 {
   width: 45%;
   float: left;
   margin-right: 30px;
}

.gender-selection select {
   width: 14%;
   padding: 5px;
   border: 1px solid #dddddd;
   border-radius: 5px;
   background-color: #f9f9f9;
   color: #555555;
   outline: none;
}

.signup-form h1 {
   margin: 0;
   margin-bottom: 10px;
   /*20px*/
   color: rgba(15, 200, 154, 0.731);
}

.signup-form .form-input {
   display: flex;
   flex-direction: column;
   row-gap: 2px;
   /* 5px */
   margin-bottom: 15px;
}

.form-input label {
   font-weight: 500;
   font-size: 17px;
}

.form-input input {
   height: 24px;
   border: none;
   border-radius: 5px;
   padding: 5px 10px;
   background: rgba(105, 95, 95, 0.3);
   outline: none;
   font-size: 17px;
   line-height: 26px;
   color: white;
}

.form-input input::placeholder {
   color: rgba(255, 255, 255, 0.3);
}

.reNameThis {
   display: flex;
   align-items: center;

}

.reNameThis .abc {
   align-self: center;
   appearance: none;
   position: relative;
   height: 16px;
   width: 30px;
   margin: 0;
   margin-right: 6px;
   border-radius: 10px;
   background: rgba(255, 255, 255, 0.6);
   transition: 0.3s;
}

.reNameThis .abc::after {
   content: "";
   position: absolute;
   left: 30%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 12px;
   height: 12px;
   background: rgba(0, 0, 0, 0.6);
   border-radius: 50%;
   transition: 0.3s;
}

.reNameThis .abc:checked {
   background: rgba(15, 200, 154, 0.705);
}

.reNameThis .abc:checked::after {
   background: white;
   left: 70%;
}

.reNameThis a {
   text-decoration: none;
   color: rgba(47, 196, 153, 0.6);
}

.reNameThis a:hover {
   text-decoration: underline;

}

.signup-button {
   margin-top: 30px;
   border-radius: 5px;
   padding: 12px;
   font-size: 16px;
   color: white;
   border: none;
   cursor: pointer;
   font-weight: bold;
   background: rgba(15, 200, 154, 0.705);
   transition: color 0, 15s, background 0, 15s;
}

.signup-button:active {
   background: rgba(15, 200, 154, 0.9);
   color: aliceblue;
}

.just-a-line {
   margin: 10px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.just-a-line::before {
   content: "";
   height: 1px;
   background: grey;
   position: absolute;
   display: block;
   top: 50%;
   left: 0;
   right: 0;
}

.just-a-line span {
   display: inline-block;
   padding: 2px 10px;
   position: relative;
   background: gray;
   border-radius: 5px;
   color: rgb(245, 240, 240);
}

.signup-with-wrapper {
   display: flex;
   column-gap: 8px;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 8px;
}

.signup-with {
   /* justify-self: center; */
   text-decoration: none;
   align-self: center;
   text-align: center;
   justify-content: space-evenly;
   align-items: center;
   display: inline-flex;
   padding: 10px 15px;
   height: 20px;
   width: 160px;
   border-radius: 8px;
   background: rgba(255, 255, 255, 1);
   color: rgba(0, 0, 0, 0.8);
   font-size: 17px;
   font-weight: bold;
   position: relative;
   transition: 0.3s;
}

.signup-with:active {
   background: rgba(255, 255, 255, 0.8);
}

.signup-with img {
   display: inline-block;
   position: absolute;
   width: 25px;
   left: 8%;
   padding: 2px;
}