.body {
   height: 1000px;
}

.block-title {
   text-align: center;
   margin: 100px auto 37px;
   position: relative;
   width: fit-content;
}

.author {
   margin: 0;
}

.block-title strong {
   font-weight: 700;
   text-align: center;
   color: #000;
   margin: 0;
   font-size: 28px;
   line-height: 28px;
   text-transform: uppercase;
   display: inline-block;
   position: relative;
   z-index: 2;
}

.block-title::after {
   content: "";
   height: 6px;
   left: -17px;
   right: -17px;
   background: #e1e1e1;
   position: absolute;
   bottom: 3px;
}

.slick-list {
   width: auto;
   height: 640px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-content: center;
   align-items: end;
   padding: 0 40px;
}

.slick-item {
   /* background: rgb(223, 220, 220); */
   width: 340px;
   height: 100%;
   border-radius: 10px;
   overflow: hidden;
   align-self: center;
   justify-self: center;
}

.slick-item>img {
   width: 340px;
   max-width: 100vw;
   height: 74%;
   object-fit: cover;
   border-radius: 10px;
}

.slick-item .item-price {
   display: flex;
   align-items: center;
   gap: 10px;
}

.slick-item .sale-price {
   font-weight: 500;
   font-size: 16px;
}

.slick-item .sale-price {
   font-size: 20px;
   font-weight: bold;
}

.slick-item .item-old-price {
   font-size: 20px;
   /* font-weight: bold; */
   text-decoration: line-through;
}

.sale-percent {
   padding: 0 15px 0 3px;
   color: #fff;
   text-align: center;
   line-height: 20px;
   font-weight: 700;
   font-size: 10px;
   display: inline-block;
   position: relative;
   margin-left: 6px;
}

.sale-percent span {
   position: relative;
   line-height: 20px;
   font-size: 16px;
   z-index: 99;
}

.sale-percent::before {
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: -10px;
   clip-path: polygon(26% 0, 100% 0, 100% 99%, 26% 99%, 0 50%);
   background: #d40f0f;
}

.item-color {
   display: flex;
   margin: 10px 0 0px 0;
   justify-content: start;
   gap: 10px;
}

.item-color .colors {
   height: 28px;
   width: 28px;
   border-radius: 2px;
   overflow: hidden;
   border-radius: 4px;
}

.colors img {
   object-fit: cover;
   height: 100%;
   width: 100%;
}

/* css button mua hàng */
.add-cart {
   display: flex;
   justify-content: center;
   margin-top: 20px;
   /* Khoảng cách giữa nút Mua ngay và phần tiêu đề sản phẩm */
}

.add-to-cart {

   height: 40px;
   /* Chiều cao nút */
   width: 120px;
   /* Chiều rộng nút */
   border: none;
   /* Loại bỏ viền */
   border-radius: 5px;
   /* Bo tròn góc */
   background-color: #007bff;
   /* Màu nền */
   color: #fff;
   /* Màu chữ */
   font-size: 16px;
   /* Kích thước chữ */
   cursor: pointer;
   /* Biến con trỏ thành hình bàn tay khi di chuột vào */
   transition: background-color 0.3s ease;
   /* Hiệu ứng chuyển đổi màu nền */
}

.add-to-cart:hover {
   background-color: #0056b3;
   /* Màu nền khi di chuột vào */
}

.more {
   padding: 50px 0;
   text-align: center;
}

.more button {
   height: 40px;
   width: 160px;
   padding: 0px 40px;
   border-radius: 10px;
   border: solid 2px;
   background: white;
   font-size: 16px;
   font-weight: bolder;
   transition: 0.3s;
   cursor: pointer;
}

.more button:hover {
   color: white;
   background: black;
}

.author,
.release {
   padding: 0;
   margin-top: 5px;
}